@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

:root {
    --escuro: #1C1C2D;
    --destaque: #FF6F00;
    --cinza: #8A8A8A;
}

.mobile-search-bar {
    display: none;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--escuro);
    color: white;
    flex-wrap: wrap;
    height: 10vh;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.logo > h1 {
    font-size: clamp(1.25rem, 1.0542rem + 1.3619vw, 3.4375rem);
    font-weight: bold;
    height: 10%;
}
.vortex-logo {
    height:35px;
}

.searchbar {
    display: flex;
    align-items: center;
    height: 80%;
    width: 30%;
    justify-content: space-evenly;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 40px;
    border: 1px solid white;
}

.searchbar > input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: clamp(1.25rem, 1.0542rem + 1.3619vw, 3.4375rem);;  
    display: flex;
    align-items: center;
    color: white;
}

.searchbar > input::placeholder {
    color: white;
    font-weight: 500;
    font-size: clamp(1.25rem, 1.0542rem + 1.3619vw, 3.4375rem);
}

i {
    font-size: 1.6rem;
}

.links {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links > a {
    color: white;
}
.carrinho > i {
    font-size: 3rem;
}

.profile-pic {
    width: 40px;
    border-radius: 100%;
    border: 2px solid white;
}

.botao-buscar {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.menu {
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

.menu>i {
    font-size: 2.1rem;
}

main {
    width: 100%;
    margin-top: 100px;
    padding-left: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.title-produtos{
    margin-bottom: 50px;
}

.title-produtos > h1{
    font-size: 3rem;
}

.title-produtos > h2{
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    word-wrap: break-word;
    white-space: normal;
    overflow: visible;
    width: 100%;
}

.produtos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.produto {
    border: 1px solid black;
    background-color: white;
    width: calc(25% - 10px); /* Ajustado para permitir 4 produtos por linha com espaçamento */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    padding-bottom: 1%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-decoration: none;
    color: black;
    transition: all .2s ease;
}
.produto[href=""]{
    pointer-events: none;
}

.produto[href=""] > .img-container::after{
    content: "Indisponível";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.produto:hover{
    scale: 1.02;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432);
}


.informacoes-produto {
    position: relative;
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    flex-grow: 1; /* Faz com que este elemento cresça para ocupar espaço flexível */
    overflow: hidden;
}

.valor {
    position: relative;
    text-align: left;
    width: 90%;
    font-size: 2rem;
    font-family: 'Poppins';
}

.img-container {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0) 20%);

}

.square-img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.long-rec-img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.tall-rec-img{
    width: auto;
    height: 100%;
}

.propriedade {
    border: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.produto > button {
    width: 90%;
    background-color: var(--escuro);
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    padding: 3%;
    transition: all .2s ease;
}

.produto>button:hover {
    scale: 1.02;
}

.produto>button:active {
    scale: 0.98;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .searchbar {
        width: 40%;
    }

    .produtos{
        padding: 0;
    }

    .links {
        width: 15%;
    }

    .produto {
        width: calc(33.333% - 10px); /* Ajuste para 3 produtos por linha em telas médias */
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between;
        height: 7vh;
    }

    .menu {
        display: block;
    }

    .searchbar {
        width: auto;
        display: flex;
        gap: 20px;
        border:none
    }

    .searchbar > input {
        display: none;
    }

    .mobile-search-bar {
        position: relative;
        top: 0px;
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--escuro);
        transform: translateY(-100px);
        transition: all .6s ease;
    }

    .mobile-search-bar.active {
        transform: translateY(0);
    }

    .mobile-search-bar > input {
        background-color: white;
        width: 60%;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: black;
        border-radius: 8px;
        padding-left: 4%;
        font-family: "Raleway";
        font-weight: 700;
        font-size: clamp(1.25rem, 1.0542rem + 1.3619vw, 3.4375rem);
    }

    .mobile-search-bar>input:active {
        border: none;
    }

    .botao-buscar {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .botao-buscar > i {
        font-size: 2.5rem;
    }

    .mobile-search-bar > input::placeholder {
        color: black;
        text-align: left;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.5rem;
    }

  
    .links {
        position: absolute;
        right: 0;
        top: 7vh;
        background-color: var(--escuro);
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        transform: translateX(900px);
        transition: all .6s ease;

    }
    .links.active {
        transform: translatex(0);
    }

    .carrinho {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 240px;
        position: relative;
    }

    .carrinho > i{
        font-size: 300%;
    }
    .carrinho::after {
        content: 'Carrinho';
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        font-size: clamp(1.5rem, 0.6667rem + 2.7778vw, 2rem);
    }
    
    .perfil {
        width: 240px;
        position: relative;
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile-pic {
        width: 20%;
    }
    
    .perfil::after {
        text-decoration: none;
        font-weight: 600;
        color: white;
        font-size: clamp(1.5rem, 0.6667rem + 2.7778vw, 2rem);
        content: 'Perfil';
        font-family: "Raleway", sans-serif;
    }

    .produtos {
        padding: 0;
    }

    .produto {
        width: calc(50% - 10px); /* Ajuste para 2 produtos por linha em telas menores */
        padding-bottom: 20px;
    }
}

@media (max-width: 480px) {

    .links-active {
        width: 65%;
    }

    .produtos {
        padding: 0;
    }

    .produto {
        width: calc(100% - 10px); /* Ajuste para 1 produto por linha em telas pequenas */
        padding-bottom: 20px;
    }
}

@media (max-width: 220px) {
    header{
        flex-wrap: wrap;
        height: 15vh;
        justify-content: space-around
    }

    .searchbar {
        width: 100%;
        padding: 0;
    }
    .searchbar > button > i{
        font-size: 1.5rem;
    }

    .links{
        position: absolute;
        right: 0;
        top: 15vh;
        width: 100%;
    }

    .carrinho {
        justify-content: flex-start;
        gap: 10px;
    }
    .perfil{
        gap: 10px;
        justify-content: flex-start;
    }

    .profile-pic{
        width: 15%;
    }

}